# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Build files
.deps
.libs
Makefile
*.pc

client_libs/libplayerc++/stamp-h3
client_libs/libplayerc++/test/test
client_libs/libplayerc/stamp-h4
client_libs/libplayerc/test/test
client_libs/libplayerc/bindings/python/build/
client_libs/libplayerc/bindings/python/playerc.py
client_libs/libplayerc/bindings/python/playerc_oo.i
client_libs/libplayerc/bindings/python/playerc_wrap.c
client_libs/libplayerc/bindings/python/srcbuilddirs.py
client_libs/libplayerc/bindings/python/srcbuilddirs.pyc
config.h
config.log
config.status
examples/libplayerc++/camera
examples/libplayerc++/clientgraphics
examples/libplayerc++/clientgraphics3d
examples/libplayerc++/example0
examples/libplayerc++/example1
examples/libplayerc++/example2
examples/libplayerc++/example3
examples/libplayerc++/example4
examples/libplayerc++/goto
examples/libplayerc++/grip
examples/libplayerc++/laserobstacleavoid
examples/libplayerc++/ptz
examples/libplayerc++/randomwalk
examples/libplayerc++/sonarobstacleavoid
examples/libplayerc++/speech
examples/libplayerc++/speech_cpp_client
examples/libplayerc++/wallfollow
examples/libplayerc/simple
examples/libplayerc/speech_c_client
examples/libplayerc/vmap
examples/plugins/exampleinterface/example_client
examples/plugins/opaquedriver/opaque_client
libplayercore/interface_table.c
libplayercore/stamp-h2
libtool
server/drivers/position/nav200/test
server/drivers/position/nav200/test_program
server/drivers/position/nav200/test_program_init
server/player
stamp-h1
utils/logsplitter/playerlogsplitter
utils/playercam/playercam
utils/playerjoy/playerjoy
utils/playernav/playernav
utils/playerprint/playerprint
utils/playerprop/playerprop
utils/playerv/playerv
utils/playervcr/playervcr
utils/playerwritemap/playerwritemap
utils/pmap/pmaptest


